/* SETUP */
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
  font-family: Poppins;
  text-align: left;
}

h1 {
  font-size: 2.15rem;
  font-weight: 600;
}
h2 {
  font-size: 1.65rem;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* NAVBAR */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(185, 209, 230, 0.233);
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.container {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  max-width: 1112px;
  padding: 0 2rem;
}
nav .container {
  justify-content: space-between;
  align-items: center;
}
nav .container .logo a {
  color: black;
}
nav .container .logo a h3 {
  font-size: 1.25rem;
}
nav .container .navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
}
nav .container .navigation a {
  color: black;
  font-size: 1rem;
  opacity: 0.6;
  transition: 300ms ease-in-out;
}
nav .container .navigation a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 2rem;
}
section {
  padding-top: 2rem;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  overflow: hidden;
}
section.about {
  margin-top: 2rem;
  gap: 0;
}
section.about .detail {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  gap: 1.25rem;
}
.bubble {
  padding: 8px 20px;
  border-radius: 100px;
  background-color: aliceblue;
  color: blue;
  font-size: 0.85rem;
}
section.about .detail p {
  font-size: 0.85rem;
  font-weight: 500;
  opacity: 0.6;
}
section.about .banner {
  width: 100%;
  aspect-ratio: 16/7;
  background-color: aliceblue;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.about .banner img {
  width: 100%;
  object-fit: cover;
}

.image {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/7;
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  overflow: hidden;
}
.image img {
  width: 100%;
  object-fit: cover;
}
.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.link a {
  color: blue;
  font-weight: 400;
}
.link img {
  width: 12px;
}

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 1rem 0;
}
footer .container {
  align-items: center;
  justify-items: center;
  width: fit-content;
}

/* RESPONSIVE */
@media screen and (max-width: 864px) {
  * {
    font-size: 14px;
  }
}

@media screen and (max-width: 664px) {
  * {
    font-size: 12px;
  }
  .tema {
    width: 100%;
  }
  .tema .bubble {
    width: fit-content;
  }
  section.about .detail {
    flex-wrap: wrap;
    gap: 0.75rem;
  }
}
